@import "tailwindcss";

@layer components {
  .dashboard-card {
    @apply bg-white rounded-[8px] shadow-xl p-4;
  }
  

  .dashboard-panel {
    @apply bg-gray-100 rounded-lg p-6 overflow-y-auto;
  }

  .skill-card {
    @apply bg-white rounded shadow-sm p-4;
  }

  .primary-btn {
    @apply bg-[#5b4085] hover:bg-[#4a3370] text-white font-bold py-2 px-8 rounded shadow-md transition-colors;
  }
}
