@import "tailwindcss";

/* =========================
   CMU FONT FAMILY
   ========================= */

@font-face {
  font-family: "CMU";
  src: url("../fonts/CMU-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU";
  src: url("../fonts/CMU-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU";
  src: url("../fonts/CMU-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU";
  src: url("../fonts/CMU-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU";
  src: url("../fonts/CMU-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU";
  src: url("../fonts/CMU-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* =========================
   GLOBAL DEFAULT FONT
   ========================= */

html,
body {
  font-family: "CMU", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* =========================
   OPTIONAL TYPOGRAPHY TWEAKS
   ========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

strong {
  font-weight: 700;
}
